<div class="bg-white flex gap-2 shadow rounded border p-4">
    <img alt="" class="bg-purple-200 w-32 h-auto justify-center shrink-0 rounded" />
    <div>
        <img alt="" class="bg-purple-200 justify-center rounded-lg" />
        <h2>{{ title }}</h2>
        <p>{{ slot }}</p>
        <div class="flex flex-wrap justify-center items-center gap-2 mt-2">
            <a href="#">
                <button class="bg-green-500 hover:bg-green-600 text-white p-2 rounded">Buy</button>
            </a>
            <a href="#">
                <button class="bg-green-500 hover:bg-green-600 text-white p-2 rounded">View</button>
            </a>
            <a href="#">
                <button class="bg-green-500 hover:bg-green-600 text-white p-2 rounded">Compare</button>
            </a>

        </div>
    </div>
</div>