{% load static tailwind_tags %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Django Tailwind</title>

		<!-- fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}

		{% compress css %}
		<link rel="stylesheet" href="{% static 'src/output.css' %}">
		{% endcompress %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		{% include 'includes/navbar.html' %}
		{% block content %}
        {% endblock %}
		{% include 'includes/footer.html' %}
		<!-- Scripts -->
		<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
	</body>
</html>
